.empty-space {
  padding-top: 65px;
}

.dropdown {
  display: none;
  width: fit-content;
  height: fit-content;
  border: 2px solid black;
  position: absolute;
  z-index: 1;
  margin-left: 88%;
  background-color: white;
}

.logout {
  padding: 1px 13px;
}

.logout button {
  background: none;
  border: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  color: black;
  cursor: pointer;
}

.logout:hover {
  background: #f0f1f2;
}

.logout img {
  padding-right: 15px;
}

.table {
  padding-top: 120px;
}

.transaction-table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

.transaction-table th, 
.transaction-table td {
  padding: 10px 20px;
  border-bottom: 2px solid black;
}

.transaction-table td {
  color: #888888;
}

tbody td button {
  background-color: #4ECB71;
  border: none;
  padding: 5px 25px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

tbody td button:hover {
  background-color: #46B665;
}

.add-cake {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.add-cake h2 {
  margin-right: 370px;
}

.add-cake button {
  margin-left: 370px;
  padding: 10px;
  background-color: #211E18;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add-cake button:hover {
  background-color: #37342F;
}

.add-cake-form {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.form-bar input {
  width: 650px;
  margin: 8px 0px;
  padding: 5px;
  text-align: center;
}

.form-bar select {
  width: 663px;
  margin: 8px 0px;
  padding: 5px;
  text-align: center;
}


.form-bar input:focus {
  text-align: center;
}

.form-bar input::placeholder {
  color: #999999;
  font-weight: 500;
  text-align: center;
}

.form-bar label {
  text-align: center;
}

.form-bar input[type="file"] {
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  color: #999999;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-align-last: center;
}

.add-btn {
  display: flex;
  justify-content: center;
}

.add-btn button {
  margin-top: 30px;
  padding: 8px 40px;
  border: none;
  border-radius: 15px;
  background-color: #F364FF;
  font-weight: 500;
  cursor: pointer;
}

.add-btn button:hover {
  background-color: #CB3BD9;
  transition-duration: 0.3s;
}

.invalid-msg {
  color: red;
  font-size: 13px;
}