.body-container{
	margin-top: 10%;
}
.forget-box{
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: absolute; */
	/* border-collapse: collapse; */
	
	margin-top: 10%;
	margin-left: 40%;
	margin-right: 40%;
	padding: 10px;
    
	border: 1px solid;
	border-radius: 50px;
    font-weight: bold;
	background-color: white;
	position: relative;
}


.inside-container-forget-box{
	margin-top: -20px;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 100px;
	
	border: 1px solid;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	 	
	
}

.name{
    margin: 0% 20% 0% 10%;
}
.text-forget-box{
	width: 250px;
	height: 40px;
    text-align: center;
	padding: 0px 20% 0px 20%;
    margin: 0% 20% 0% 10%;
	
}


.button-send-box{
	margin-top: 150px;
	padding: 10px 50px 10px 50px;
	background-color: #F364FF;
	border: none;
    font-weight: bold;
    margin-bottom: 100px;
}

.button-send-box:hover{
	background: #CB3BD9;
    
	border: none;
	transition-duration: 300ms;
	cursor: pointer;
}


label {
    display: block;
    margin-top: 1em;
}

.req {
    color: red;
}