*{
	font-family: 'Poppins',sans-serif;
}

.icon-back{
	padding: 10px;
}
.body-container{
    position: relative;
	bottom: 150px;
	right: 0px;
}

.forget-password-container{
    box-sizing: border-box;
    position: absolute;
    width: 345.31px;
    height: 67px;
    left: 547.95px;
    top: 235px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
}

.forget-password-text{
    position: absolute;
    width: 224.57px;
    height: 33px;
    left: 608.32px;
    top: 252px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}

.inside-forget-password-box{
    box-sizing: border-box;

    position: absolute;
    width: 984px;
    height: 519px;
    left: 228px;
    top: 269px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
.email-box{
    box-sizing: border-box;
    height: 40px;
    position: absolute;
    left: 20%;
    right: 19.86%;
    top: 45.31%;
    bottom: 50%;
    
    background: #FFFFFF;
    border: 1px solid #000000;
}
.email-text{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 40%;
    bottom: 50%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.email-box:placeholder-shown{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;

    font-size: 22px;
    
}

.button-send{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 45px;
    gap: 10px;

    position: absolute;
    width: 137px;
    height: 57px;
    left: 420px;
    top: 400px;

    background: #F364FF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
}

.button-send:hover{
    cursor: pointer;
}