*{
	font-family: 'Poppins',sans-serif;
}
.icon-back{
	padding: 10px;
}

.body-container{
	position: relative;
	
	bottom: 150px;
	right: 0px;
	
}

.login-container{
	box-sizing: border-box;
margin-right: 100px;
	position: absolute;
	width: 512px;
	height: 599px;
	left: 464px;
	top: 274px;

	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 40px;
}
.login-text{
	position: absolute;
	width: 55px;
	height: 27px;
	left: 684px;
	top: 261px;

	
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-align: center;

	color: #000000;
}
.login-box{
	box-sizing: border-box;

	position: absolute;
	width: 200px;
	height: 64px;
	left: 612px;
	top: 242px;

	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 40px;
}
.inside-login-box{
	display: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 100px;

	position: absolute;
	width: 340px;
	height: 338px;
	left: 552px;
	top: 364px;
}
.email-icon-box{
	position: absolute;
	width: 50px;
	height: 48px;
	left: 0px;
	top: 0px;
	border: 1px;

	background: #E9E9E9;
}
.email-icon{
	
	margin: 30%;
	
}
.email-box{
	position: absolute;
	width: 290px;
	height: 46px;
	left: 50px;
	top: 0px;
	border: 1px;

	background: #D9D9D9;
}

.password-icon-box{
	position: absolute;
	width: 50px;
	height: 48px;
	left: 0px;
	top: 60px;
	border: 1px;

	background: #E9E9E9;
}
.password-icon{
	margin: 30%;
}
.password-box{
	position: absolute;
	width: 290px;
	height: 46px;
	
	top: 60px;
	left: 50px;	

	border: 1px;

	background: #D9D9D9;
}
.login-logo{
	position: absolute;
	width: 47.47px;
	height: 48px;
	left: 0px;
	top: 0px;

background: #E9E9E9;
}

.remember-box{
	position: absolute;
	top: 120px;
}
.forget-password{
	position: absolute;
	top: 123px;
	left: 234px;
	
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	/* text-decoration: none; */
	/* color: #1E9CD2; */
}

.login-button{
	width: 340px;
	height: 46px;
	margin-top: 300px;
	font-family: 'Lucida Console';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	background: #F364FF;
	cursor: pointer;
}

.login-button:hover{
	background: #CB3BD9;
	
	transition-duration: 300ms;
}

.register-button{
	width: 340px;
	height: 46px;
	margin-top: 10px;
	font-family: 'Lucida Console';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	background: #FfffFF;
	cursor: pointer;
}

.register-button:hover{
	background: #F364FF;
	
	transition-duration: 300ms;
}

.warna-text{
	color: black;
}