.req-text{
    position: absolute;
    top: 250px;
    left: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 50px;
    line-height: 39px;

}

.img{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 320px;
    left: 600px;
}

.text{
    position: absolute;
    width: 650px;
    height: 38px;
    left: 380px;
    top: 550px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 19px;
    text-align: center;

    color: #FFBB33;
}

.button{
    position: absolute;
    left: 1050px;
    right: 250px;
    top: 630px;
    bottom: 150px;
    
    background: #F364FF;
    border-radius: 15px;
    }