* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  
  nav {
    position: fixed;
    width: 100%;
    background-color: #211E18;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0px;
  }
  
  .logo img {
    margin-left: 30px;
    border-radius: 50%;
    display: flex;
  }

  .user-img-text{
    display: flex;
    align-items: center;
  }

  .nav-welcome-user{
    font-size: 16px;
    margin: 0px 32px 0px 15px;
  }

  .gambar-user:hover, .nama-user:hover{
    cursor: pointer;
  }