* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins';
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 194.54px;
}

.product-information-container{
    display:flex;
}

.img-kue{
    object-fit: cover;
}

.brand-title{
    font-size: 30px;
    margin-top: 41.45px;
    font-weight: 700;
    margin-left: 31px;
}

.sold{
    margin-left: 31px;
}

.harga{
    margin: 21px 0px 26px 50px;
    font-size: 36px;
    color: rgba(203, 28, 218, 1);
}

.detail-container{
    display: flex;
    margin-left: 50px;
    margin-top: 18px;
}

.detail-lists, .detail-isi{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-right: 31px;
}

.list-ukuran, .detail-ukuran{
    margin-bottom: 6px;
}

.button-ukuran{
    background-color: white;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2px;
    margin-right: 12px;
    font-size: 16px;
}

.share-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 34px;
    margin-right: 15px;
    align-items: center;
}

.share-text{
    margin-right: 5px;
}

.fav-button{
    display: flex;
    align-items: center;
    padding: 9px 37px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    margin-top: 2px;
}

.fav-text{
    padding-left: 8px;
    font-size: 18px;
    font-weight: 600;
    color:rgba(123, 123, 123, 1);
}

.buy-button{
    width:max-content;
    padding: 9.8px 23.2px;
    font-size: 18px;
    font-weight: 600;
    background-color: #F364FF;
    color: black;
}

.proteksi-info{
    color: red;
    background-color: white;
    border: none;
}

.teks-deskripsi{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin: 47px 0px 14px 0px;
}

.deskripsi-bahan{
    max-width: 1060px;
}

.paragraf-deskripsi{
    margin-top: 24px;
    margin-bottom: 50px;
    max-width: 1300px;
}

.quantity{
    display: flex;
}

.quantity-button, .quantity-text{
    padding: 0px 5px;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.quantity-text{
    border-right: 1px;
    border-left: 1px;
    padding: 0px 10px;
}

.show-dropdown{
    background-color: white;
    border: none;
}

.fav-button:hover, .buy-button:hover, .button-ukuran:hover,
.proteksi-info:hover, .quantity-button:hover, .share-button, .show-dropdown:hover{
    cursor: pointer;
}



