

.text{
    position: absolute;
    top: 250px;
    left: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 50px;
    line-height: 39px;
}

.button{
position: absolute;
left: 1040px;
right: 270px;
top: 630px;
bottom: 150px;

background: #F364FF;
border-radius: 15px;
}

.img{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 350px;
    left: 640px;
    /* left: 46.86%; */
    /* right: 46.77%; */
    /* top: 43.94%; */
    /* bottom: 43.94%; */
}

  
